.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 18px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* padding: 40px 60px; */
}

.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.swiper-slide .title {
	font-size: 41px;
	font-weight: 300;
}

.swiper-slide .subtitle {
	font-size: 21px;
}

.swiper-slide .text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
}
.mySwiper .swiper-pagination{
  position: absolute;
  top: 28px;
  right: 30px;
  left: 100% !important;
  height: fit-content;
  width: fit-content !important;
  transform: translateX( calc(-100% - 24px));
}
.mySwiper .swiper-pagination-bullet-active{
  background-color: #fff !important;
}
.mySwiper .swiper-pagination-bullet{
  border: 1px solid #fff;
  opacity: 1;
  background-color: transparent;
}